/* CarouselTag.css */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
  opacity: 0.8; /* Corrected opacity value */
}

.glassmorphism:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1; /* Corrected opacity value */
  scale: 1.01;
}
